* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
}

:root {
    --blue-bg-color: #0162a6;
    --grey-text-color: rgb(78, 79, 80);
    --font-size: 1.3rem;
    --bigger-font-size: 1.5rem;
    --elements-width:70vw;
    --elements-border: 1px solid #000000;
    --elements-border-radius: 5px;
    --font-weight-max-bold: 900;
    --font-weight-bold: 600;
    --button-border-radius: 25px;
}

form {
    height: auto;
    margin-bottom: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.h1-font {
    position: relative;
    color: var(--grey-text-color);
    font-family: Sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    font-weight: var(--font-weight-max-bold);
}

#error {
    font-size: var(--font-size);
    text-align: center;
    display: none;
    margin-top: 5vh;
}

.container {
    color: var(--grey-text-color);
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--bigger-font-size);
    width: var(--elements-width);
    margin: auto;
    text-align: center;
    font-weight: var(--font-weight-bold);
    margin-bottom: 2vh;
}

.input {
    font-size: 1.3rem;
    width: var(--elements-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border: var(--elements-border);
    border-radius: var(--elements-border-radius);
}

.options-div {
    width: var(--elements-width);
    font-size: var(--font-size);
    text-align: center;
    margin: auto;
    margin-top: 0;
    height: fit-content;
    border: var(--elements-border);
    border-radius: var(--elements-border-radius);
    z-index: 1000;
}

.units-option-element,
.shape-option-element,
.media-option-element {
    cursor: pointer;
}

.units-option-element:hover,
.shape-option-element:hover,
.media-option-element:hover {
    color: rgb(255, 255, 255);
    background-color: #1E90FF;
}

#custom-density-div,
#custom-tank-shape-div {
    margin: auto;
    height: auto;
    width: 70vw;
    flex-flow: row wrap;
}

.options-div,
#custom-density-div,
#custom-tank-shape-div {
    display: none;
}

#medium-name-div,
#density-picker-div,
#custom-height-input-fields-div,
#custom-volume-input-fields-div {
    width: auto;
    margin: auto;
}

#medium-name-input-label,
#medium-name-input,
#density-picker-label,
#density-picker-input,
#custom-height-label,
#custom-volume-label,
.custom-field-input,
.custom-button {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

#medium-name-input-label,
#density-picker-label,
#custom-height-label,
#custom-volume-label {
    font-size: var(--font-size);
}

#medium-name-input,
#density-picker-input,
.custom-field-input,
.custom-button {
    margin-bottom: 2vh;
}

.custom-field-input {
    display: none;
}

#custom-height1-input,
#custom-height2-input,
#custom-max-height-input,
#custom-volume1-input,
#custom-volume2-input,
#custom-max-volume-input {
    display: block;
}



.button {
    width: auto;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    text-align: center;
    background-color: var(--blue-bg-color);
    color: rgb(255, 255, 255);
    border-radius: var(--button-border-radius);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    padding: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.custom-button {
    width: 15vw;
}

#proceed-button,
.modal-button {
    width: fit-content;
    height: auto;
}

#proceed-button {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 1);
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    display: none;
    z-index: 760;
    padding: 10vmin;
}

#message-modal {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-modal {
    position: relative;
    width: auto;
    margin: auto;
    height: 90vh;
    padding: auto;
    background: rgb(255,255,255);
    line-height: 1.5;
    z-index: 800;
    padding-bottom: 5vh;
    border-radius:5px;
    overflow: auto;
}

#message-inner-modal {
    height: auto;
    margin-top: inherit;
}

.inner-modal-header {
    position: fixed;
    width: 80vw;
    height: auto;
    background: var(--blue-bg-color);
    padding: auto;
    overflow: hidden;
    z-index: 810;
}

#x-button {
    position: relative;
    height: 100%;
    width: auto;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: var(--font-size);
    line-height: 1.5;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    padding: auto;
    border-radius:0;
}

#x-button:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

 .inner-modal-settings-list {
    position: relative;
    height: var(--font-size);
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
    text-align: left;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#message-inner-modal-settings-list {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    margin-bottom: auto;
}
.inner-modal-result-message {
    height: auto;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5vh;
}

.inner-modal-settings-list-title {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: var(--bigger-font-size);
    text-align: center;
}

.inner-modal-settings-list-ul {
    list-style: none;
    display: block;
    font-size: var(--font-size);
    line-height: 1.5;
    padding: auto;
    padding-left: 5vw;
}

li {
    width: auto;
    height: auto;
} 

.pre-text {
    font-weight: var(--font-weight-bold);
}

.inner-modal-height-volume-pair {
margin-right: 2vw;
}

.inner-modal-result-message {
    margin-top: 2vh;
    font-size: var(--font-size);
}

.inner-modal-buttons {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 810;
}

#message-inner-modal-buttons {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 0;
}

.modal-button {
    position: relative;
    width: fit-content;
    text-align: center;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
}

.modal-button:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

#ok-button {
    margin: auto;
}

#ok-button:hover {
    background: rgb(0, 255, 0);
}

#close-button {
    display: none;
    margin: auto;
}

#cancel-button {
    margin: auto;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .input {
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .options-div {
        width: 40vw;
    }

    #medium-name-input,
    #density-picker-input,
    .custom-field-input {
        width: 20vw;
    }
    
    .custom-button {
        padding: 0.75vh;
        width: 10vw;
    }

    .inner-modal {
        width: 60vw;
        height: 80vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .inner-modal-header {
        position: fixed;
        width: 60vw;
    }

    .inner-modal-settings-list {
        overflow-y: scroll;
        width: 100%;
    }

    #message-inner-modal-settings-list {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
        margin-bottom: 0vh;
        overflow: hidden;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .input {
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
    }

    .options-div {
        width: 20vw;
    }

    #custom-density-div,
    #custom-tank-shape-div {
        width: 40vw;
    }

    #medium-name-div,
    #density-picker-div,
    .custom-height-input-fields-div,
    #custom-height-label,
    .custom-volume-input-fields-div,
    #custom-volume-label {
        width: 15vw;
    }

    #medium-name-input-label,
    #density-picker-label,
    #medium-name-input,
    #density-picker-input,
    .custom-field-input {
        width: 15vw;
    }
    
    .custom-button {
        padding: 0.5vh;
        width: 5vw;
    }

    .inner-modal {
        width: 50vw;
        height: 80vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .inner-modal-header {
        position: fixed;
        width: 50vw;
    }

    .inner-modal-settings-list {
        overflow-y: scroll;
        width: 100%;
    }

    #message-inner-modal {
        overflow: hidden;
    }

    #message-inner-modal-settings-list {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10vh;
        margin-bottom: 0vh;
        overflow: hidden;
    }
}