* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Sans-serif;

}

.primary-color {
    color: #0162a6;
}

@font-face {
    font-family: 'VarelaRound';
    src: url(VarelaRound-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.ttf);
}



form {
    height: 100vh;
    margin-bottom: 0;
    bottom: 0;
}

.h1-font {
    position: relative;
    color: rgb(78, 79, 80);
    font-family: 'VarelaRound', Sans-serif;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-weight: 900;
}

div {
    color: rgb(78, 79, 80);
    text-align: center;
    margin-bottom: 3vh;
}

#error {
    font-size: 1rem;
    text-align: center;
    display: none;
}

input,
select {
    width: 10vw;
    margin-right: 10vw;
}

.label {
    width: 20vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: left;
    font-weight: 600;
}

#error,
.units-div,
.media-div,
.custom-density-adjustment,
.max-tank-height-div,
.max-tank-volume-div,
.tank-shape-div,
.custom-labels,
.custom-buttons,
.max-tank-filling-div
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
}

.units-div,
.media-div,
.custom-density-adjustment,
.max-tank-height-div,
.max-tank-volume-div,
.tank-shape-div,
.max-tank-filling-div {
    margin-left: 5vw;
}

.custom-density-adjustment {
    display: none;
}

.custom-tank-shape-adjustment {
    display: none;
}

.custom-labels {
    width: 100%;
}

.custom-button {
    width: 10vw;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 3vh;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    padding: 1vh 2.5vw;
}

.button {
    width: 20vw;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 3vh;
    margin-left: 40vw;
    margin-right: 40vw;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    padding: 1vh 2.5vw;
}

#proceed-button {
    margin-bottom: 10vh;
}

.custom-tank-shape-adjustment {
    position: relative;
}

#add-another1,
#delete1 {
    margin-left: 35vw;
    display: none;
}

.date {
    text-align: center;
    margin-bottom: 5vh;
    display: none;
}

.units-input,
.density-input,
#density-picker,
#max-height,
#max-volume,
.tank-shape-input,
#max-fill
 {
    z-index: 100;
    width: 15vw;
    cursor: default;
}

.units-input,
.density-input,
.tank-shape-input {
    margin-top: 3vh;
    z-index: 1000;
}

.units-input::placeholder,
.tank-shape-input::placeholder,
.density-input::placeholder {
    color: rgb(78, 79, 80);
}

.option {
    position: absolute;
    width: 15vw;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border: 1px solid #000;
    box-shadow: 0 0.2vh 0.6vw rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
}

.units-option-element,
.shape-option-element,
.media-option-element {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1vw, 1vh;
    cursor: pointer;
    text-align: left;
}

.units-option-element:hover,
.shape-option-element:hover,
.media-option-element:hover {
    color: rgb(255, 255, 255);
    background-color: #1E90FF;
}

.option img {
    position: relative;
    margin-right: .5vw;
    height: 2vh;
    width: 2vw;
}

#complete-tank-height {
    top: -20vh;
}

.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: fixed;
    z-index: 160;
}

.inner-modal {
    position: absolute;
    width: 40vw;
    margin-left: 30vw;
    margin-top: 30vh;
    height: 50vh;
    padding: 0;
    background: #ddd;
    line-height: 1.5;
    z-index: 255;
}

.modal-form {
    height: 15vh;
    padding: 0;
    background: #ddd;
}

.inner-modal-header {
    position: relative;
    width: 100%;
    height: 4vh;
    background: #0162a6;
    padding: 0;
}

.close {
    position: relative;
    height: 100%;
    width: 5%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 1rem;
    line-height: 0.75;
    margin-left: 38vw;
    overflow: hidden;
    padding: 0;
}

.close:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

.inner-modal-settings-list {
    position: relative;
    height: 30vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.modal-button {
    position: relative;
    width: 5vw;
    font-size: 0.60rem;
    font-weight: 600;
    text-align: center;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
}

.modal-button:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

#ok-button {
    width: 5vw;
    margin-right: 5vw;
}

#ok-button:hover {
    background: rgb(0, 255, 0);
}

#cancel-button {
    left: 10vw;
}

/*Success.html*/

#success-message-paragraph {
    text-align: center;
    margin-bottom: 5vh;
}