/* Popravi razmake med posameznimi vrsticami tako, da bodo le-te med seboj enako oddaljene. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Sans-serif;
}

.primary-color {
    color: #0162a6;
}

@font-face {
    font-family: 'VarelaRound';
    src: url(VarelaRound-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.ttf);
}



form {
    height: 100vh;
    margin-bottom: 0;
    bottom: 0;
}

.h1-font {
    position: relative;
    color: rgb(78, 79, 80);
    font-family: 'VarelaRound', Sans-serif;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-weight: 900;
}

div {
    color: rgb(78, 79, 80);
    text-align: center;
    margin-bottom: 3vh;
}

#error {
    font-size: 1rem;
    text-align: center;
    display: none;
}

input,
select {
    width: 10vw;
    margin-right: 10vw;
    border: 1px solid rgb(0, 0, 0);
}

input[type="button"] {
    overflow: hidden;
}

.label {
    width: 20vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: left;
    font-weight: 600;
}

#error,
.units-div,
.media-div,
.custom-density-adjustment,
.max-tank-height-div,
.max-tank-volume-div,
.tank-shape-div,
.custom-labels,
.custom-buttons,
.max-tank-filling-div
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
}

.custom-density-adjustment {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
}

.units-div,
.media-div,
.max-tank-height-div,
.max-tank-volume-div,
.tank-shape-div,
.max-tank-filling-div {
    margin-left: 5vw;
}

.custom-density-adjustment,
.custom-tank-shape-adjustment {
    display: none;
}

.custom-density-adjustment {
    margin-right: 20vw;
    margin-left: 20vw;
}

.custom-button {
    width: 5vw;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 3vh;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    padding: .5vh .5vw;
    margin-left: 2.5vw;
    margin-right: 12.5vw;
}


.button {
    width: 20vw;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 3vh;
    margin-left: 40vw;
    margin-right: 40vw;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    padding: 1vh 2.5vw;
}

#proceed-button {
    margin-bottom: 10vh;
    width: 10vw;
}

.custom-tank-shape-adjustment {
    position: relative;
    margin-bottom: 5vh;
}

#add-another1,
#delete1 {
    margin-left: 35vw;
    display: none;
}

.date {
    text-align: center;
    margin-bottom: 5vh;
    display: none;
}

.units-input,
.density-input,
#max-height,
#max-volume,
.tank-shape-input,
#max-fill
 {
    z-index: 100;
    width: 15vw;
    cursor: default;
}

#medium-name-input,
#density-picker {
    position: relative;
    width: 10vw;
    text-align: left;
}

#medium-name-input {
    margin-left: 5vw;
}

.units-input,
.density-input,
.tank-shape-input {
    margin-top: 3vh;
    z-index: 600;
}

#complete-tank-height,
#complete-tank-volume,
#max-tank-filling-div {
    position: relative;
   height: 8vh;
}

.units-input::placeholder,
.tank-shape-input::placeholder,
.density-input::placeholder {
    color: rgb(78, 79, 80);
}

.option {
    position: absolute;
    width: 15vw;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border: 1px solid #000;
    box-shadow: 0 0.2vh 0.6vw rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
}

.units-option-element,
.shape-option-element,
.media-option-element {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1vw, 1vh;
    cursor: pointer;
    text-align: left;
}

.units-option-element:hover,
.shape-option-element:hover,
.media-option-element:hover {
    color: rgb(255, 255, 255);
    background-color: #1E90FF;
}

.option img {
    position: relative;
    margin-right: .5vw;
    height: 2vh;
    width: 2vw;
}

.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: fixed;
    z-index: 160;
}

.inner-modal {
    position: absolute;
    width: 40vw;
    margin-left: 30vw;
    margin-top: 30vh;
    height: 50vh;
    padding: 0;
    background: #ddd;
    line-height: 1.5;
    z-index: 255;
}

.modal-form {
    height: 15vh;
    padding: 0;
    background: #ddd;
}

.inner-modal-header {
    position: relative;
    width: 100%;
    height: 4vh;
    background: #0162a6;
    padding: 0;
}

.close {
    position: relative;
    height: 100%;
    width: 5%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 1rem;
    line-height: 0.75;
    margin-left: 38vw;
    overflow: hidden;
    padding: 0;
}

.close:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

.inner-modal-settings-list {
    position: relative;
    height: 30vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.modal-button {
    position: relative;
    width: 5vw;
    font-size: 0.60rem;
    font-weight: 600;
    text-align: center;
    background-color: #0162a6;
    color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
}

.modal-button:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

#ok-button {
    margin-right: 5vw;
}

#ok-button:hover {
    background: rgb(0, 255, 0);
}

#close-button {
    display: none;
    margin-left: 12.5vw;
}

#cancel-button {
    left: 10vw;
}

/*success.html*/

#success-body {
    overflow: hidden;   
}

#success-message-paragraph {
    text-align: center;
    margin-bottom: 5vh;
}

#back-button {
    margin-bottom: 10vh;
    width: 10vw;
    margin-left: 45vw;
}

#medium-name-input-label {
    width: 30vw;
    text-align: center;
    margin-right: 10vw;
}
#density-picker-label {
    width: 30vw;
    text-align: center;
    margin-right: 10vw;
}

.custom-density-adjustment {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* #custom-labels-density {
    margin-top: 5vh;
} */

#custom-density-adjustment-inner {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 3vh;
    display: flex;
    flex-flow: row no-wrap;
}

/* Mobile phones (portrait) */
@media /*(min-width:360px) and (min-height:640px) and*/ (max-width:1200px) and (max-height:1440px) {
   * {
       width: 100vw;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-x:hidden;
   } 
.units-div,
.media-div,
.max-tank-height-div,
.max-tank-volume-div,
.tank-shape-div,
.max-tank-filling-div
{
    flex-flow: column wrap;
}

.custom-density-adjustment {
    margin-left: 0;
    margin-right: 0%;
    width: 90vw;
}

.label {
    width: 100vw;
    text-align: center;
    padding-right: 10vw;
    font-size: 18px;
}

#complete-tank-height,
#complete-tank-volume {
   height: max-content;
}

.input,
.option {
    width: 80vw;
    font-size: 20px;
    text-align: center;
}
.option {
    margin-left: 5vw;
    height: max-content;
    position: static;
}

.button,
.custom-button {
    width: 50vw;
    font-size: 20px;
}

.units-option-element,
.media-option-element,
.shape-option-element {
    width: 100%;
}

.custom-density-adjustment {
    margin-left: 5vw;
}

#max-height,
#max-volume,
#max-fill {
    width: 80vw;
    text-align: center;
}

.custom-tank-shape-adjustment {
    width: 90vw;
}

#medium-name-input,
#density-picker,
#custom-max-height1,
#custom-max-height2,
#custom-max-heightMax,
#custom-max-volume1,
#custom-max-volume2,
#custom-max-volumeMax {
    width: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 20px;
}


.custom-fields {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 30vw;
    text-align: center;
    font-size: 20px;
}

.custom-button,
#add-another2,
#delete2 {
    width: 15vw;
    height: max-content;
    margin-right: 20vw;
    margin-left: 15vw;
}

.custom-button {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
}

#medium-name-input-label,
#density-picker-label,
#max-height-label,
#max-volume-label,
#max-fill-label {

    margin-bottom: 5vh;
}



#medium-name-input-label,
#density-picker-label,
#custom-height-label,
#custom-volume-label {
    width: min-content;
    font-size: 16px;  
}

#medium-name-input-label {
    position: relative;
    width: min-content;
    margin-right: 0;
    padding-right: 0;
}

#density-picker-label {
    position: relative;
    width: min-content;
    margin-left: 10vw;
    margin-right: 0;
    padding-right: 0;
}

#custom-height-label {
    position: relative;
    width: fit-content;
    margin-left: 10vw;
    margin-right: 5vw;
}


#custom-volume-label {
    position: relative;
    width: fit-content;
    margin-left: 5vw;
}

#proceed-button {
    width:40vw;
    margin-left: 30vw;
    }

    /*modal*/

    .inner-modal {
        width: 100vw;
        height: max-content;
        padding-bottom: 5vh;
        margin-left: 0;
        margin-top: 5vh;
        overflow: hidden;
    }

    .modal-form {
        height: fit-content;
    }

    .inner-modal-header {
        height: 6vh;
        z-index: 101;
        width: 100vw;
        position: relative;
        margin-left: 0vw;
    }

    #x-button {
       position: relative;
       margin-left:88vw;
       width:12vw;
       font-weight: 700;
       font-size: 20px;
    }

    .inner-modal-settings-list {
        height: max-content;
        z-index: 100;
        font-size: 16px;
        text-align: left;
        margin-top: 0vh;
        margin-bottom: 0vh;
        position: relative;
        width: 100vw;
    }

    .inner-modal-settings-list-title {
        font-size: 20px;
        text-align: center;
    }

    #ok-button,
    #close-button,
    #cancel-button {
        position: relative;
        margin-top: 5vh;
        z-index: 105;
        width: 30vw;
        height: 7vh;
        font-size: 16px;
    }

    /*success.html*/

    #success-body {
        height: 100vh;
    }

    #success-message-paragraph {
        font-size: 24px;
        text-align: center;
    }

    #back-button {
        margin-bottom: 10vh;
        width: 30vw;
        margin-left: 35vw;
    }
}